<%=stylesheet_link_tag('custom')%>
<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<% if @article.image.attached? %>
  <%= image_tag @article.image, size: "500x500" %>
<% end %>

<h2>Comments</h2>

<%= form_with(model: [ @article, Comment.new ], local: true, html: { multipart: true }) do |form| %>
  <div>
    <%= form.text_area :body %><br>
    <%= form.file_field :image %><br>
    <%= form.submit "Add Comment" %>
  </div>
<% end %>

<ul>
  <% @article.comments.each do |comment| %>
    <li>
      <i class="fa fa-user"></i>
      <strong><%= comment.user.username %></strong>: <%= comment.body %>
      <% if comment.image.attached? %>
        <%= image_tag comment.image, size: "100x100" %>
      <% end %>
    </li>
  <% end %>
</ul>

<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %></li>
</ul>
