<h1>Edit User</h1>

<%= form_with(model: [:admin, @user], local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :role %>
    <%= form.select :role, ['user', 'admin'], include_blank: false %>
  </div>

  <div>
    <%= form.submit 'Update User' %>
  </div>
<% end %>
