<!DOCTYPE html>
<html>
<head>
  <title>Forum</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

  <header>
    <%= image_tag 'logo.jpg', alt: 'Logo', class: 'logo' %>
    <h1>Blog Forum</h1>
    <div class="sign-in">
    <nav>
    <ul>
      <% if user_signed_in? %>
        <li>Welcome, <%= current_user.username %>!</li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Login', new_user_session_path %></li>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
      <% end %>
    </ul>
  </nav>
  </div>
  </header>

  <div class="container">
    <aside class="left-nav">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', '#' %></li>
        <li><%= link_to 'Contact', '#' %></li>
        <li><%= link_to 'List Post', '#' %></li>
      </ul>
    </aside>

    <main>
      <%= yield %>
    </main>
  </div>

  <footer>
    <p>2024 Forum</p>
  </footer>
</body>
</html>
